*{
	box-sizing: border-box;
}
body {
	margin: 0;
}
.main-container {
	background-color: #fffadb;
/*	background-color: #f7f6de;*/
	width: 900px;
	margin: 0 auto;
	border-radius: 15px;
/*	background-image: url(Leather-Surface-Background-75.jpg);*/
}
.layer {
	background-color: rgba(0,0,0,.1);
	border-radius: 15px;
	padding: 20px;
}
.top {
	border-top: 2px solid #6c757d;
	border-bottom: 2px solid #6c757d;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px;
}
.top-left p {
	font-size: 10px;
	color: #6c757d;
	margin: 0;
}
.top-right {
	flex-direction: column;
}
.top-right-title {
	font-family: 'Changa One', cursive;
	color: #d17070;
}
.top-right .member-row {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.top-right .member-col {
	margin-right: 10px;
	margin-left: 6px;
	font-size: 14px;
}
.top-right .member {
	margin-bottom: 10px;
	color: #5a6066;
	writing-mode: vertical-lr;
}
.top-left, .top-right {
	width: 20%;
	display: flex;
	text-align: center;
	padding: 20px;
}
.top .logo {
	width: 60%;
	border-left: 2px solid #6c757d;
	border-right: 2px solid #6c757d;
	font-size: 100px;
	text-align: center;
	font-family: 'Pinyon Script', cursive;
}
.top .logo p {
	margin: 0;
}

.head {
	display: flex;
	justify-content: center;
	padding: 10px 10px 25px 10px;
	border-bottom: 2px solid #6c757d;
	margin-bottom: 20px;
}
.head .col {
	width: 33%;
	font-size: 10px;
	text-align: center;
}
.head .small-head {
	border-top: 1px solid #6c757d;
	border-bottom: 1px solid #6c757d;
	font-size: 12px;
	margin-bottom: 10px;
	color: #313233;
}
.head .col a{
	font-size: 16px;
	color: black;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
} 
.col .social-area {
	padding: 0;
	margin-top: 20px;
	display: flex;
}
.col .social-area a {
	display: block;
	width: 38px;
	margin-right: 10px;
	padding: 8px;
	background-color: #313233;
	color: white;
	border-radius: 10px;
}
.input-col .input-area {
	margin-top: 10px;
}
.input-col .input-area input {
	margin-bottom: 10px;
	border: 1px solid #313233;
	border-radius: 10px;
	padding: 5px 20px;
	text-align: center;
	color: #d17070;
}
::placeholder {
	color: #d17070;
}
.input-col .input-area input:focus {
	outline: 0;
	border-color: #545556;
	box-shadow: 0 0 0 .2rem #545556;
}
.input-col .input-area button {
	background-color: #313233;
	color: white;
	text-align: center;
	padding: .375rem .75rem;
	border: 1px solid transparent;
	border-radius: 10px
}
.input-col .input-area button:hover {
	background-color: #545556;
	cursor: pointer;
}
a[href="https://www.youtube.com/"]:hover {
    background-color: #df3333;
    box-shadow: 0 0 10px 2px #e87878;
}
a[href="https://www.google.com.tw/"]:hover {
    background-color: #d62408;
    box-shadow: 0 0 10px 2px #cc7f74;
}
a[href="https://www.facebook.com/"]:hover {
    background-color: #4265b9;
    box-shadow: 0 0 10px 2px #6f85b7;
}
a[href="https://twitter.com/"]:hover {
    background-color: #55acee;
    box-shadow: 0 0 10px 2px #a3cded;
}
a[href="https://github.com/"]:hover {
    background-color: #4183c4;
    box-shadow: 0 0 10px 2px #83a3c4;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.5);
}
/*paper-area*/
.paper-area {
	border-bottom: 2px solid #6c757d;
	padding: 20px 0;
}
.paper-area .row {
	margin: 0;
}
.paper-area h2 {
	overflow-wrap: break-word;
}
.paper-area .col-8 {
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-right: 15px;
	border-right: 1px solid #6c757d;
}
.paper-content {
	display: flex;
}
.paper-author {
	border-bottom: 1px solid #6c757d;
	margin-bottom: 10px;
}
.paper-pic {
	width: 40%;
}
.paper-pic img:hover {
	opacity: 0.8;
}
.paper-text {
	width: 60%;
	padding-left: 15px;
}
.paper-text p {
	font-size: 12px;
	text-indent: 2em;
}
.paper-area .col-4 {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 0;
}
.paper-area .col-4 .paper-content {
	display: flex;
	flex-direction: column;
}
.paper-area .col-4 .paper-pic {
	width: 100%;
}
.paper-area .col-4 .paper-text {
	width: 100%;
	padding-left: 0;
}
.paper-area-bottom .col-8 {
	padding-left: 15px;
	border-left: 1px solid #6c757d;
	border-right: none;
}
.paper-area-bottom .col-4 {
	padding-right: 15px;
	padding-left: 0;
}
.paper-area .paper-area-top {
	border-bottom: 2px solid #6c757d;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.read-more {
	color: #d17070;
	font-weight: 900;
	text-decoration: underline;
}
.navbar {
	display: none!important;
}
.mobile-member {
	display: none;
}





















